<h1>Ideas</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @ideas.each do |idea| %>
      <tr>
        <td><%= idea.id %></td>
        <td><%= link_to idea.title, idea_path(idea) %></td>
        <td><%= idea.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_idea_path(idea), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', idea_path(idea), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_idea_path, :class => 'btn btn-primary' %>
