<h1>/Idea</h1>

<p>
  <b>Title</b><br>
  <%= @idea.title %>
</p>

<p>
  <b>Content</b><br>
  <%= @idea.content %>
</p>

<p>
  <b>Topic</b><br>
  <%= @idea.topic_id %>
</p>

<div class="form-actions">
  <%= link_to 'Back', ideas_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_idea_path(@idea), :class => 'btn' %>
  <%= link_to 'Delete', idea_path(@idea), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
