<div class="page-header"><h1>Idea</h1></div>

<p>
  <b>Topic</b><br>
  <%= @topic.title %>
</p>

<p>
  <b>Title</b><br>
  <%= @idea.title %>
</p>

<p>
  <b>Content</b><br>
  <%= simple_format @idea.content %>
</p>

<div class="form-actions">
  <%= link_to '<i class="icon-arrow-left"></i> Back'.html_safe, topic_path(@topic), :class => 'btn' %>
  <%- if @idea.user == current_user || @topic.owner == current_user -%>
      <%= link_to '<i class="icon-edit"></i> Edit'.html_safe, edit_topic_idea_path(@topic, @idea), :class => 'btn' %>
      <%= link_to '<i class="icon-trash"></i> Delete'.html_safe, topic_idea_path(@topic, @idea), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
  <%- end -%>
</div>
